* {
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body{
    
    background-image: url('../img/cloud.jpg');
    background-size: cover;
    background-position: 0 -260px;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    
}

.form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.login-heading{
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}

.main-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* margin: 0 auto; */
    min-height: inherit;

        
    
}


.button{
    margin-top: 2rem;
    height: 4rem;
    width: 25rem;
    border-radius: 1rem;
    border: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, .7);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: all 0.4s;
    transition-timing-function:cubic-bezier(0.5, 3, 0, 1);
    
}
.button:hover{
    transform:scale(1.2,1.2);
}

.field-bottom{
    margin-top: 10px;
}

input{
    height: 4rem;
    width: 25rem;
    border-radius: 1rem;
    border: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, .7);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    opacity: 68%;
    
}

   form {
        max-width: 340px;
        
        overflow-y: auto;
        position: relative;
        z-index: 1;
        overflow-x: hidden;
        background-color: rgba(255, 255, 255, 1);
        
        transition: 0.3s;
        
        border-radius: 10px;
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
      }
